@import url('https://fonts.googleapis.com/css2? family= Tangerine:wght@700 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    color: #ede9e9;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d2337;
}

html{
    /* overflow-x: hidden; */
}

#seta{
    position: fixed;
    border-radius: 50%;
    width: 50px;
    height: 45px;
    padding: 10px;
    background-color: #05121c;
    opacity: 0.4;
    bottom: 20px;
    right: 20px;
    z-index: 2;
  }
    
  #seta:hover{
    background-color: #05121c;
    opacity:unset;
    color: white;
  }

/* HEADER */

header{
    background-color:#0d2c47;
}

#header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#logo{
    width: 60px;
    height: 50px;
    margin: 15px;
}

#textosHeader{
    margin-top: 200px;
}

#textosHeader h1{
    color: #ffbd59;
    font-family: 'Tangerine', cursive;
    font-size: 130px;
    font-weight: 400;
    margin-bottom: 30px;
}

#textosHeader p{
    font-size: 35px;
    /* width: 950px; */
    margin-bottom: 70px;
}

#textosHeader button{
    border: none;
    font-size: 30px;
    padding: 10px;
    background-color: #081825;
    cursor: pointer;
    border: 1px solid #ffbd59;
}

#textosHeader a{
    text-decoration: none;
    color: #ffbd59;
}

#imagem_principal img{
    height: 930px;
    width: 680px;
}


/* ATUAÇÃO */

#atuacao{
    margin: 50px;
}

#atuacao h1{
    color: #ffbd59;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
}

#atuacao p{
    font-size: 30px;
    width: 87%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

#questoesDeAtuacao{
    display: flex;
    justify-content: space-around;
}

#questoesDeAtuacao p{
    text-align: left;
    width: 100%;
}


/* FEEDBACKS */

#feedback{
    background-color: #0d2c47;
}

#feedback h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #ffbd59;
    text-align: center;
    padding: 70px;
}

.feedbackDePessoa{
    text-align: center;
    margin-bottom: 60px;
}

.feedbackDePessoa img{
    width: 120px;
    height: 120px;
}

.feedbackDePessoa h2{
   
    width: 90%;
    margin: 20px auto;
}

.feedbackDePessoa p{
    font-style: italic;
    font-size: 17px;   
}


/* CERTIFICAÇÃO */

#certificacao{
    margin: 50px;
    text-align: center;
}

#certificacao h1{
    color: #ffbd59;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-bottom: 20px;
}

#certificacao h2{
    margin-bottom: 70px;
    font-size: 30px;
}

#certificacao img{
    width: 650px; 
    margin-bottom: 50px;
}

#certificacao img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}


/* LOCALIZAÇÃO */

#localizacao{
    background-color: #0d2c47;
    text-align: center;
    padding: 50px;
}

#localizacao h1{
    color: #ffbd59;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-bottom: 30px;
}

#localizacao h2{
    color: #ffbd59;
    font-size: 40px;
    margin-bottom: 70px;
}

#localizacao iframe{
    margin-bottom: 50px;
}


/* RODAPÉ */

footer{
    background-color: #040e16;
    text-align: center;
}

#informacoesFooter{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-style: italic;
}

#informacoesFooter p{
    margin-top: 70px;
}

#redesSociaisFooter  img{
    margin: 50px; 
    width: 50px;
    margin-bottom: 100px;
}

#assinatura{
    width: 400px;
    margin-top: -70px;
}

/* RESPONSIVIDADE HEADER */

@media(max-width: 1700px){
   
    #imagem_principal img{
        height: 900px;
        width: 600px;
    }

    #textosHeader h1{
        font-size: 110px;
    }

    #textosHeader p{
        font-size: 32px;
    }

    #textosHeader button{
        font-size: 27px;
    }
}

@media(max-width: 1600px){

    #imagem_principal img{
        height: 850px;
        width: 560px;
    }

    #textosHeader{
        margin-top: 150px;
    }   
}

@media(max-width: 1550px){

    #imagem_principal img{
        height: 800px;
        width: 530px;
    }

    #textosHeader h1{
        font-size: 95px;
    }

    #textosHeader p{
        font-size: 29px;
        width: 750px;
    }

    #textosHeader button{
        font-size: 25px;
    }
}

@media(max-width: 1330px){

    #imagem_principal img{
        height: 720px;
    }

    #logo{
        width: 40px;
        height: 40px;
    }

    #textosHeader h1{
        font-size: 90px;
    }

    #textosHeader p{
        font-size: 25px;
        width: 650px;

    }

    #textosHeader button{
        font-size: 23px;
    }
}

@media(max-width: 1200px){

    #imagem_principal img{
        display: none;
    }

    #textosHeader{
        margin-top: 100px;
    }  

    #textosHeader h1{
        font-size: 100px;
    }

    #textosHeader p{
        font-size: 32px;
        width: 800px;
    }

    #textosHeader button{
        font-size: 25px;
        margin-bottom: 50px;
    }
}

@media(max-width: 900px){

    #textosHeader h1{
        font-size: 85px;
    }

    #textosHeader p{
        font-size: 25px;
        width: 650px;
        margin-bottom: 50px;
    }

    #textosHeader button{
        font-size: 20px;
    } 
}

@media(max-width: 720px){

    #logo{
        width: 30px;
        height: 30px;
        margin: 5px;
    }

    #textosHeader h1{
        font-size: 75px;
    }

    #textosHeader p{
        font-size: 20px;
        width: 500px;
   
    }

    #textosHeader button{
        font-size: 18px;
    } 
}

@media(max-width: 570px){

    #textosHeader{
        margin-top: 80px;
    }

    #textosHeader h1{
        font-size: 70px;
    }

    #textosHeader p{
        font-size: 17.5px;
    }

    #textosHeader button{
        font-size: 16px;
    } 
}

@media(max-width: 450px){

    #logo{
        width: 25px;
        height: 25px;
        margin: 2px;
    }

    #textosHeader{
        /* margin-left: -10px; */
    }

    #textosHeader h1{
        font-size: 50px;
        margin-bottom: 30px;
    }

    #textosHeader p{
        font-size: 13.5px;
        margin-bottom: 30px;
    }

    #textosHeader button{
        font-size: 13px;
        margin-bottom: 30px;
    } 
}

/* RESPONSIVIDADE ATUAÇÃO */

@media(max-width: 1100px){

    #atuacao h1{
        font-size: 40px;
    }
    
    #atuacao p{
        font-size: 25px;
       
    }
}


@media(max-width: 820px){

#atuacao p{
    font-size: 20px;
}
}

@media(max-width: 700px){

    #atuacao{
        margin: 45px;
    }

    #atuacao p{
        font-size: 18px;
        width: 80%;
        margin-bottom: 30px;
    }

    #atuacao h1{
        font-size: 30px;
        margin-bottom: 30px;
    }

}

@media(max-width: 450px){


    #atuacao p{
        font-size: 17px;
        width: 100%;
    }

}


/* RESPONSIVIDADE FEEDBACK */

@media(max-width: 1100px){
    #feedback h1{
        font-size: 30px;
    }

    .feedbackDePessoa{
        margin-bottom: 40px;
    }
    
    .feedbackDePessoa img{
        width: 100px;
        height: 100px;
    }
    
    .feedbackDePessoa h2{
        font-size: 25px;
        /* color: rebeccapurple; */
    }
    
    .feedbackDePessoa p{
        font-size: 15px;   
    }
}

@media(max-width: 700px){
    #feedback h1{
        font-size: 25px;
        padding: 22px;
    }

   
    .feedbackDePessoa img{
        width: 90px;
        height: 90px;
    }
    
    .feedbackDePessoa h2{
       font-size: 18px;
      
    }
    
    .feedbackDePessoa p{
      font-size: 13px;
    }
}

@media(max-width: 450px){

    #feedback h2{
        font-size: 17px;
    }
}

/* RESPONSIVIDADE CERTIFICAÇÃO */

@media(max-width: 1100px){
    

    #certificacao h1{
        font-size: 40px;
    }
    
    #certificacao h2{
        font-size: 25px; 
    }

    #certificacao img{
        width: 600px; 
        margin-bottom: 40px;
    }
}

@media(max-width: 700px){
    

    #certificacao h1{
        font-size: 30px;
    }
    
    #certificacao h2{
        font-size: 18px; 
    }

    #certificacao img{
        width: 400px; 
        margin-bottom: 40px;
    }
}

@media(max-width: 450px){

    #certificacao h2{
        font-size: 17px;
        margin-bottom: 35px 
    }

    #certificacao img{
        width: 300px; 
        margin-bottom: 0px;
      
    }
}

/* RESPONSIVIDADE LOCALIZAÇÃO */

@media(max-width: 1100px){
    

    #localizacao h1{
        font-size: 40px;
    }

    #localizacao h2{
        font-size: 25px; 
    }

    #localizacao iframe{
        width: 600px; 
        height: 500px;
        margin-bottom: 40px;
    }
}

@media(max-width: 700px){
    

    #localizacao h1{
        font-size: 30px;
    }

    #localizacao h2{
        font-size: 18px; 
        margin-bottom: 35px;
    }

    #localizacao iframe{
        width: 400px; 
        height: 300px;
        margin-bottom: 35px;
    }
}

@media(max-width: 450px){

    #localizacao h2{
        font-size: 17px;       
    }

    #localizacao iframe{
        width: 300px; 
        height: 250px;
        margin-bottom: 10px;
    }

   
}

/* RESPONSIVIDADE RODAPÉ */

@media(max-width: 1100px){
   
    
   #informacoesFooter{
    font-size: 18px;
   }

   #redesSociaisFooter img{
    width: 40px;
   }

   #assinatura{
    width: 350px;
   }
}

@media(max-width: 900px){

    #informacoesFooter{
        font-size: 20px;
    }      
}

@media(max-width: 850px){

    #informacoesFooter{
        font-size: 17px;
       }

       #informacoesFooter p{
        margin: 0;

        padding-top: 50px;
       }

       #redesSociaisFooter img{
        width: 35px;
       }

       #assinatura{
        width: 250px;
       }
}

@media(max-width: 700px){

    #informacoesFooter {

        display: block;
        
       }

    
       
}


@media(max-width: 450px){
    header{
        display: none;
    }
}